body {
    height: 100vh;
    background-image: url(../images/StarWarsVadarCT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: yellow;
    font-style: italic;
}

a:hover {
    text-decoration: none;
    color: yellow;
    font-style: italic;
}


h1 {
    color: yellow;
    font-style: italic;
    text-align: center;
}

h2 {
    color: yellow;
    font-style: italic;
    text-align: center;
}


.levels {
    display: flex;
    justify-content: center;
}

.game {
    align-content: center;
    width: 50%;
    perspective: 1000px;
}


.card {
    height: 140px;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    border: none;
    transform-style: preserve-3d;
    transition: 1s;
    background-color: transparent;
}


.card.flip {
    transform: rotateY(180deg);
}



.faceup,
.facedown {
    height: 100%;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
}


.faceup {
    transform: rotateY(180deg);
}